.card{
  width: 277px !important;
  height: 540px !important;
  margin: 10px;
  border: 2px solid goldenrod;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  margin-top: 5px;
  
  
}

.card img{
  height: 230px !important;
  width: 220px !important;
  margin: auto;
  margin-top: 10px;
  
  
}
.card-body p{
  line-height: 17px;
  margin: 8px;
}
.card h5{
  color: blue;
}
